/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Color variables */
:root {
    --primary: #fafafa;
    --secondary: #3a3a3a;
    --highlight: gold;
    --bgcolor: rgb(34, 34, 34);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    background-color: var(--bgcolor);
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    color: var(--highlight);
}

h1, h2, h3 {
    font-family: 'Mulish', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Header Content */
header {
    background-color: var(--bgcolor);
    color: var(--primary);
    box-shadow: 0 2px 2px var(--highlight);
    position: fixed;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 99;
    width: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

a:hover, header i:hover {
    color: var(--highlight)
}

/* Navigation bar style and toggle dropdown */
/* Original code from CI Love Running */
#menu {
    letter-spacing: 4px;
    list-style-type: none;
    text-align: right;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid var(--highlight);
}

nav {
    position: absolute;
    background-color: var(--bgcolor);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px var(--highlight);
    display: none;
    top: 100%;
    text-transform: uppercase;
}

#nav-toggle:checked~nav {
    display: block;
}

.hidden {
    display: none;
}

.nav-toggle-label {
    font-size: 1.8rem;
}

/* Main Content */
main {
    flex: 1 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--bgcolor);
}

h2, h3 {
    padding-top: 5px;
    padding-bottom: 5px;
}

p {
    padding: 0 20px;
}

hr {
    border-top: 1px solid var(--bgcolor);
    margin: 5px 0;
}

img {
    max-width: 100%;
}

/* Hero image */
#hero-image {
    height: 500px;
    width: 100%;
    position: relative;
}

.hero-index {
    background: url("../images/hero-index.jpg") no-repeat center center/cover;
}

.hero-booking {
    background: url("../images/hero-booking.jpg") no-repeat center center/cover;
}

.hero-fleet {
    background: url("../images/hero-fleet.jpg") no-repeat center center/cover;
}

.hero-about {
    background: url("../images/hero-about.jpg") no-repeat center center/cover;
}

/* Main page styling */
#main-section {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    max-width: 900px;
    margin: auto;
}

#main-section > div {
    margin-bottom: 20px;
    line-height: 20px;
}

.information, .info {
    padding: 0 20px;
    list-style-type: none;
}

.button {
    width: 100%;
    margin-top: 10px;
    background-color: var(--bgcolor);
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: var(--primary);
    color: var(--bgcolor);
    border: 2px solid var(--bgcolor);
}

/* Booking Content */
.booking-form {
    padding: 30px;
}
.text-input {
    background: transparent;
    color: var(--bgcolor);
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid var(--bgcolor);
    border-radius: 2px;
    padding: 0 5px;
}

.radio-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* About Content */
.owner {
    display: flex;
    justify-content: center;
    max-width: 20%;
    border-radius: 50%;
    margin-top: 20px;

}

/* Footer Content */
.footer {
    margin-top: 10px;
    font-size: 80%;
    color: var(--primary);
    text-align: center;
}

.social {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: auto;
}

.social i {
    font-size: 150%;
    padding: 5%;
    color: var(--primary);
}

.social i:hover {
    color: var(--highlight);
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    /* Original code from CI Love Running */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main page */
    main {
        box-shadow: 0 2px 2px var(--highlight);
        margin-top: 53px;
    }

    /* Make the information divs and booking button appear next to eachother */
    .information {
        display: flex;
        justify-content: center;
        column-count: 2;
    }

    .button {
        width: fit-content;
        align-self: flex-end;
    }

    /* Limit the size of the booking form */

    .booking-form {
        max-width: 400px;
        margin: auto;
    }

    .booking-form > .button {
        width: 100%;
    }

    /* Footer */
    .social {
        max-width: 900px;
    }

    .copyright {
        text-align: right;
    }
}